.header {
  background: linear-gradient(to right, #1e5eb3, #1db6e7);
  position: absolute;
  top: 0;
  width: 100%;
}


mat-toolbar {
  background: linear-gradient(to right, #1e5eb3, #1db6e7);
  height: 35px;
}

.appName {
  font-size: 110%;
  color: #fff;
}

.nav-click {
  color: rgb(29, 27, 27);
  font-size: large;
  font-weight: bold;
}

div {
  overflow: inherit;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content {
  font-size: 200%;
  text-align: center;
}
