.header {
  background: linear-gradient(to right, #1e5eb3, #1db6e7);
  position: absolute;
  width: 100%;
}

mat-toolbar {
  background: linear-gradient(#1e5eb3, #1db6e7);
  height: 35px;
}

.headerText {
  font-size: 110%;

  span {
    color: #bbbbbb;
  }

  b {
    color:#444444;
  }
}

.nav-click {
  color: #1d1b1b;
  font-size: large;
  font-weight: bold;
  img {
    margin-top: 5%
  }
}

div {
  overflow: inherit;
}

a {
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-spacer {
  flex: 1 1 auto;
}

@media (max-width: 530px) {
  #content {
    display: none;
  }
}
