<div class="personal-card">
  <h1>Lucas Peixoto</h1>
  <div id="image-crop" class="image-crop">
    <img id="avatar" src="assets/images/photo.png" alt="" />
  </div>
  <div class="topics">
    <span>Apresentação</span>
    <p>
      Olá, sou o Lucas, morador de Jundiaí-SP, formado em Engenharia Agrícola
      pela Universidade estadual de Campinas (Unicamp), mestre em Engenharia Agrícola
      e atualmente Analista de Sistemas na Stefanini <i>Group</i> e desenvolvedor autonômo,
      com foco em automatização de processos para agilizar rotinas.
    </p>
  </div>

  <div class="topics">
    <span>Formação</span>
    <ul>
      <li>Mestrado  em Engenharia Agrícola - Feagri/Unicamp: 2018-2020;
        <ul>
          <li>
            Área de atuação: Modelagem estrutural de vigas de madeira com Ansys.
          </li>
        </ul>
      </li>
      <li>Graduação em Engenharia Agrícola - Feagri/Unicamp: 2012-2017.</li>
    </ul>
  </div>

  <div class="topics">
    <span>Experiências e Atividades Complementares</span>
    <ul>
      <li>Autonômo: 2020 - Atual;
        <ul>
          <li>Atividades: Desenvolvimento de sistemas de RPA para automatização de tarefas manuais.</li>
        </ul>
      </li>
      <li>Stefanini IT Solutions: 01/2021-Atual;
        <ul>
          <li>Cargo: Analista de Sistemas: 2021-Atual;</li>
          <li>Atividades: Atuação na melhoria de processos internos (RH, Comercial, Departamento Pessoal)
            através do desenvolvimento de sistemas, focado no processo de entendimento, criação e desenvolvimento
            frontend com Angular e PrimeNg.
          </li>
        </ul>
      </li>
      <li>Stefanini IT Solutions: 2020-2021;
        <ul>
          <li>Cargo: Trainee de Automatizações e RPA;</li>
          <li>Atividades: Estudar processos internos para desenvolver sistemas de automatização
            de forma a automatizar as rotinas do departamento pessoal da Stefanini.
            Responsável pelo desenvolvimento de sistemas desktop, rotinas de disparo
            automatizado de comunicados por e-mail e rotinas com RPA.
          </li>
        </ul>
      </li>
      <li>Unicamp de portas abertas: 2016 e 2017;
        <ul>
          <li>Cargo: Monitor;</li>
          <li>Atividades: Mostrar a faculdade de Engenharia agrícola da Unicamp para os
            alunos visitantes e apresentar o conteúdo estudado durante o curso.
          </li>
        </ul>
      </li>
      <li>Fibrametal Hélices Industriais: 10/2011 - 12/2011.
        <ul>
          <li>Cargo: Operador de montagem;</li>
          <li>Atividades: Leitura de pedidos para identificar o tipo de hélice
            (tamanho, formato de hélice) e montagem final das peças.
          </li>
        </ul>
      </li>

    </ul>
  </div>

  <div class="topics">
    <span>Competências</span>
    <ul>
      <li>Pacote Office;</li>
      <li>Linguagens: Python, JavaScript e TypeScript;</li>
      <li>RPA: Selenium;</li>
      <li>Metodologias ágeis: Scrum;</li>
      <li>
        Desenvolvimento Frontend: HTML, CSS, JavaScript, TypeScript e
        Angular;
      </li>
      <li>
        Desenvolvimento Backend: Python e Node JS;
      </li>
      <li>Desenvolvimento desktop: Tkinter (Python) e Electron JS;</li>
      <li>Controle de versão: Git, Gitlab;</li>
      <li>
        Banco de Dados: Montagem de Consultas SQL (Oracle, SQLServer , SQL Developer
        e SQL Server Management Studio);
      </li>
      <li>
        Em aprendizado: React JS, Next JS e SCSS.
      </li>
    </ul>
  </div>

  <div id="card-contacts" class="topics">
    <span>Contatos</span>
    <div id="card-contacts-item" fxShow="true" fxHide.lt-md="true">
      <a
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5519982621117&text=Ol%C3%A1%21+Gostaria+de+conhecer+os+servi%C3%A7os&lang=pt_pt"
      >
        <img src="./assets/images/whatsapp.svg" />
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/lucassacramoni/">
        <img src="./assets/images/linkedin.svg" />
      </a>
      <a target="_blank" href="https://github.com/lucasspeixoto">
        <img src="./assets/images/github.svg" />
      </a>
      <a target="_blank" href="https://www.facebook.com/lucassacramoni/">
        <img src="./assets/images/facebook.svg" />
      </a>
      <a target="_blank" href="https://www.instagram.com/lucas.speixoto/">
        <img src="./assets/images/instagram.svg" />
      </a>

      {{ " " }}
      {{ " " }}
    </div>
  </div>
</div>
