<div class="personal-card">

  <h1>Lucas Peixoto</h1>
  <div id="image-crop" class="image-crop">
    <img id="avatar" src="assets/images/photo.png" alt="" />
  </div>
  <div class="topics">
    <span>Apresentação</span>
    <p>
      Olá, sou o Lucas, morador de Jundiaí-SP, formado em Engenharia Agrícola pela
      Universidade estadual de Campinas (Unicamp). Atuo como Analista
      de Sistemas na Stefanini <i>Group</i> e desenvolvedor
      autonômo, com foco em automatização de processos para agilizar rotinas e
      melhorar o seu trabalho no dia a dia.
    </p>
  </div>

  <div class="topics">
    <span>Competências</span>
    <ul>
      <li>Linguagens: Python e JavaScript;</li>
      <li>RPA: Selenium;</li>
      <li>Metodologias ágeis: Scrum;</li>
      <li>
        Desenvolvimento FrontEnd: HTMLC, CSS, JavaScript, TypeScript, React e Angular;
      </li>
      <li>Desenvolvimento desktop: Tkinter e Electron JS;</li>
      <li>Controle de versão: Git, Gitlab;</li>
      <li>
        Banco de Dados: Oracle, SQLServer (montagem de consultas), SQL Developer
        e SQL Server Management Studio.
      </li>
    </ul>
  </div>

  <div class="topics">
    <span>Serviços</span>
    <ul>
      <li>Automatização de comunicados:
        <ul>
          <li>WhatsApp;</li>
          <li>E-mail;</li>
          <li>Instagram.</li>
        </ul>

      </li>
      <li>Desenvolvimento de rotinas de RPA (robôs para realização de tarefas);</li>
      <li>
        Desenvolvimento de rotinas para automatização de processos manuais de forma geral (Trabalhos com excel, word,
        pdf, etc...);
      </li>
      <li>Desenvolvimento desktop: Tkinter e Electron JS;</li>
      <li>Melhoria de processos visando otimização do seu negócio.</li>
    </ul>
  </div>

  <div class="topics">
    <span>Mais detalhes</span>
    <p>
      Entre em contato caso tenha interesse em conheçer mais sobre
      os projetos e como a tecnologia pode mudar seu negócio com a automatização.
    </p>
  </div>

  <div id="card-contacts" class="topics">
    <span>Contatos</span>
    <div id="card-contacts-item" fxShow="true" fxHide.lt-md="true">
      <a target="_blank"
        href="https://api.whatsapp.com/send?phone=5519982621117&text=Ol%C3%A1%21+Gostaria+de+conhecer+os+servi%C3%A7os&lang=pt_pt">
        <img src="./assets/images/whatsapp.svg" />
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/lucassacramoni/">
        <img src="./assets/images/linkedin.svg" />
      </a>
      <a target="_blank" href="https://github.com/lucasspeixoto">
        <img src="./assets/images/github.svg" />
      </a>
      <a target="_blank" href="https://www.facebook.com/lucassacramoni/">
        <img src="./assets/images/facebook.svg" />
      </a>
      <a target="_blank" href="https://www.instagram.com/lucas.speixoto/">
        <img src="./assets/images/instagram.svg" />
      </a>


      {{ ' '}}
      {{ ' '}}
    </div>
  </div>

</div>
