.personal-card {
  background-color: linear-gradient(to right, #eeeded, #d3daeb);
  height: auto;
  width: auto;
  margin-left: -5vw;
  margin-right: -5vw;
  margin-top: 5vh;
  border-radius: 25px;
  padding-bottom: 1px;
  box-shadow: 0.5px 1px 5px #1e5eb3;

  h1 {
    color: white;
    text-align: center;
    min-width: 100%;
    background: linear-gradient(#1e5eb3, #1db6e7);
    border-radius: 25px 25px 0 0;
    color: #393b45;
    padding: 30px 0;
    font-size: xx-large;
    font-weight: 800;
  }
}

ul {
  padding-left: 2vw;
  ul {
    padding-left: 0.2vw;
  }
}

#card-contacts {
  display: none;
}

.topics {
  width: 100%;
  margin-left: 2vh;
  margin-bottom: 2vh;
  align-items: center;

  span {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
  }

  p,
  ul {
    margin: 0.5vh 3vh 1vh 3vh;
    width: 90%;
    color: #1e5eb3;
    font-weight: 500;
  }

  ul {
    font-style: italic;
  }
}

.image-crop {
  display: block;
  position: relative;
  background-color: #e6ebee;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 2px 2px 5px #1e5eb3;
}

#avatar {
  display: inline;
  height: 230px;
  width: auto;
  margin-top: -20px;
  margin-left: -5px;
}


@media (max-width: 530px) {
  #card-contacts {
    display: inline;
    width: 100%;

    #card-contacts-item {
      margin-left: 3vh;
      margin-top: 1vh;
    }
  }

  .personal-card {
    width: auto;
    margin-left: -8vw;
    margin-right: -8vw;
  }
}

@media (max-width: 490px) {
  .image-crop {
    display: none;
  }

  .personal-card {
    width: auto;
    margin-left: -8vw;
    margin-right: -8vw;
  }
}
