.footer {
  background: linear-gradient(#1e5eb3, #1db6e7);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
}

.texto {
  margin: 8px;
  padding: 0;
  text-align: center;
  font-size: larger;
  color: #fff;
}
