@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 100%;
  height:100%;
  overflow-x: hidden;
  margin: 0px;
  color: #333333;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  color: #1e5eb3;
  background-color: #fff;
  border: 1px solid #1e5eb3;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1e5eb3;
  border: 1px solid #fff;
}

body * {
  box-sizing: border-box;
}

textarea {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.matMenu {
  width: 200px !important;
  padding: 10px;
}

.btn-filter-action {
  font-size: 0.75rem;
  width: 80px;
}

input,
select {
  font-size: 0.8rem;
  height: 25px;
  width: 100%;
}

table {
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 10px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-left {
  justify-content: left;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-left {
  align-items: left;
}

.flex-align-center {
  align-items: center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.title1 {
  font-size: 1rem;
  font-weight: 700px;
}

.title2 {
  font-size: 0.8rem;
  font-weight: 500px;
}

.text-error {
  font-size: 0.7rem;
  color: red;
}

.timepicker-overlay {
  z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
  z-index: 10000000 !important;
}

.timepicker {
  .timepicker__header {
    background: linear-gradient(to right, #1e5eb3, #1db6e7) !important;
  }

  .timepicker-dial__control {
    font-size: 40px !important;
    margin-top: 40%;
    height: 50%;
    width: 45px !important;
    text-align: center !important;
  }

  .clock-face__clock-hand {
    background: linear-gradient(to right, #1e5eb3, #1db6e7) !important;

    &::after {
      background-color: #1e5eb3 !important;
    }

    &::before {
      border-color: #1e5eb3 !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: #1e5eb3 !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: #1e5eb3 !important;
  }
}
